[submodule "tools/cheat-engine-mcp-server"]
	path = tools/cheat-engine-mcp-server
	url = https://github.com/bethington/cheat-engine-server-python.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
